<?xml version="1.0" encoding="utf-8"?>
<title>腕上AI</title>
<icon>icon.png</icon>
<packageName>com.nova.wear.ai</packageName>
<versionName>1.0.2</versionName>
<versionint>3</versionint>
<sdk>15</sdk>
<yuv>3</yuv>

<remark></remark>
<Permissions>android.permission.READ_EXTERNAL_STORAGE
android.permission.REQUEST_INSTALL_PACKAGES
android.permission.INTERNET
android.permission.WRITE_EXTERNAL_STORAGE</Permissions>
<createTime>2026-04-25 23:56:01</createTime>
<upTime>2026-04-25 23:56:01</upTime>